$background: #e9e9e9;
$footer: #14181d;
$content: #FFFFFF;

/* Reset margins, paddings, and box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease;
}

/* Styling for the body */
body {
    background-color: $background;
    overflow-x: hidden;
    line-height: 1.5;

    /* Font styles for h1 and h2 elements */
    h1,
    h2 {
        font-family: "Protest Guerrilla", sans-serif;
    }

    /* Font styles for p and h3 elements */
    p,
    h3 {
        font-family: 'Josefin Sans', serif;
        font-size: 16px;
    }
}

/* Font styles for Header */
header {
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    /* Style for the img element within the header */
    img {
        height: auto;
        width: 200px;
        margin-top: 20px;
    }
}

/* Font styles for Navigation Bar */
.navbar {
    width: 100vw;
    display: flex;
    justify-content: center;

    /* Styling for the unordered list within the navigation bar */
    ul {
        list-style: none;
        margin: 20px auto;
    }

    /* Styling for the list items within the unordered list */
    li {
        display: inline;
        margin: 0px 50px;
        font-family: 'Josefin Sans', serif;
    }

    /* Styling for the anchor tags within the list items */
    a {
        text-decoration: none;
        padding: 10px 20px;
        color: #000;

        /* Hover state for the anchor tags */
        &:hover {
            background-color: white;
        }
    }
}

/* Styling for the main content area */
main {
    margin: 0 auto;
    width: 1024px;
    background-color: $content;
    border: 2px solid black;

    /* Styling for the top section within the main content area */
    .topsection {
        padding: 50px;

        h1 {
            font-size: 92px;
        }

        .subheader p {
            /* Specific style for the subheader within top section content */
            font-family: 'Josefin Sans', serif;
            font-size: 64px;
        }

        /* Styling for the paragraph elements within the top section */
        p {
            font-size: 32px;
        }
    }

    /* Styling for the column content within the main content area */
    .columncontent {
        margin: auto 50px;
        column-count: 3;

        h2 {
            font-size: 48px;
        }
    }

    /* Styling for the grid images within the main content area */
    .gridimages {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        margin-top: 50px;

        /* Styling for the img elements within the grid images */
        img {
            max-width: 100%;

            /* Specific style for the first img element within the grid images */
            &:nth-child(1) {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }

}

/* Styling for the author section */
.author {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    /* Styling for the h2 elements within the author section */
    h2 {
        font-size: 48px;
        text-align: center;
    }

    /* Styling for the paragraph elements within the author section */
    p {
        margin-top: 20px;
        text-align: left;
    }

    /* Styling for the img elements within the author section */
    img {
        border-radius: 50%;
        width: 200px;
    }
}

/* Styling for the footer */
.footer {
    background-color: $footer;
    color: white;
    padding: 50px;
    text-align: center;
}

@media screen and (width <=1024px) {

    /* Adjustments for the header image */
    header img {
        width: 80px;
    }

    /* Adjustments for the navigation bar */
    .navbar {
        display: flex;
        
        /* Styling for the unordered list within the navigation bar */
        ul {
            margin: 30px auto;
        }

        /* Styling for the list items within the unordered list */
        li {
            display: inline;
            margin: 0px 30px;
        }

        /* Styling for the anchor tags within the list items */
        a {
            padding: 30px 30px;
        }
    }

    /* Adjustments for the main content area */
    main {
        margin: 0 auto;
        width: calc(100% - 120px);
        padding: 0px;

        /* Adjustments for the top section within the main content area */
        .topsection {
            margin: auto 30px;
            padding: 0;

            h1 {
                text-align: center;
            }

            p {
                font-size: 16px;
            }

            .subheader p {
                text-align: center;
            }
        }

        /* Adjustments for the column content within the main content area */
        .columncontent {
            column-count: auto;
            margin-bottom: 30px;
            margin: auto 30px;

            h2 {
                margin: 30px auto;
                text-align: center;
            }
        }

        /* Adjustments for the grid images within the main content area */
        .gridimages {
            display: grid;
            justify-content: center;
            margin-top: 30px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "top-left top-right"
                "bottom-left bottom-right";

            /* Adjustments for the img elements within the grid images */
            img {
                width: 100%;
                height: 100%;
            }

            /* Specific adjustments for the first img element within the grid images */
            img:nth-child(1) {
                grid-area: top-left;
            }

            /* Specific adjustments for the second img element within the grid images */
            img:nth-child(2) {
                grid-area: top-right;
            }

            /* Specific adjustments for the third img element within the grid images */
            img:nth-child(3) {
                grid-area: bottom-left;
            }

            /* Specific adjustments for the fourth img element within the grid images */
            img:nth-child(4) {
                grid-area: bottom-right;
            }

            /* Hide the fifth img element within the grid images */
            img:nth-child(5) {
                display: none;
            }
        }

        /* Adjustments for the author section */
        .author {
            margin: 30px;

            h2 {
                text-align: left;
            }

            p {
                margin-top: 30px;
                text-align: left;
            }
        }

        /* Styling for the footer */
        .footer {
            padding: 30px;
        }
    }
}

@media screen and (width <=720px) {
    body {
        line-height: 1.5;
    }

    /* Adjustments for the navigation bar */
    .navbar {
        width: 100%;
        /* Styling for the unordered list within the navigation bar */
        ul {
            margin: 20px auto;
        }

        /* Styling for the list items within the unordered list */
        li {
            margin: 0px 20px;
        }

        /* Styling for the anchor tags within the list items */
        a {
            padding: 30px 20px;
        }
    }

    /* Adjustments for the main content area */
    main {
        width: 100%;

        /* Adjustments for the top section within the main content area */
        .topsection {
            margin: auto;
            margin: 0 20px;

            .subheader p {
                margin-bottom: 20px;
            }
        }

        /* Adjustments for the column content within the main content area */
        .columncontent {
            margin-bottom: 20px;
            margin: 0 20px;

            h2 {
                margin: 20px auto;
            }
        }

        /* Adjustments for the grid images within the main content area */
        .gridimages {
            margin-top: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                "top-left"
                "top-right"
                "bottom-left"
                "bottom-right";

            /* Adjustments for the img elements within the grid images */
            img {
                width: 100%;
                height: 100%;
            }
        }

        /* Adjustments for the author section */
        .author {
            display: flex;
            flex-direction: column-reverse;
            margin: 20px;

            h2 {
                text-align: center;
            }

            p {
                margin-top: 20px;
                text-align: left;
            }
        }

        /* Styling for the footer */
        .footer {
            padding: 20px;
        }
    }
}

@media screen and (width <=540px) {
    /* Adjustment for the body styling */
    body {
        line-height: 1.25;
    }

    /* Adjustments for the navigation bar */
    .navbar {
        margin-bottom: 12px;

        /* Styling for the unordered list within the navigation bar */
        ul {
            margin: 12px auto;
        }

        /* Styling for the list items within the unordered list */
        li {
            margin: 0px 12px;
        }

        /* Styling for the anchor tags within the list items */
        a {
            padding: 12px 12px;
        }
    }

    /* Adjustments for the main content area */
    main {
        width: 100%;

        /* Adjustments for the top section within the main content area */
        .topsection {
            margin: 12px 12px;

            h1 {
                font-size: 3em;
            }

            .subheader p {
                font-size: 3em;
                margin-bottom: 12px;
            }
        }

        /* Adjustments for the column content within the main content area */
        .columncontent {
            margin-bottom: 12px;
            margin: 0 12px;

            h2 {
                margin: 12px auto;
            }
        }

        /* Adjustments for the grid images within the main content area */
        .gridimages {
            margin-top: 12px;
        }

        /* Adjustments for the author section */
        .author {
            margin: 12px;

            h2 {
                text-align: center;
            }

            p {
                margin-top: 12px;
            }
        }

        /* Styling for the footer */
        .footer {
            padding: 12px;
        }
    }
}

@media screen and (width <=360px) {

    /* Adjustments for the navigation bar */
    .navbar {
        margin-bottom: 10px;
        margin: 0 auto;

        /* Styling for the unordered list within the navigation bar */
        ul {
            margin: 12px auto;
        }

        /* Styling for the list items within the unordered list */
        li {
            margin: 0px 12px;
        }

        /* Styling for the anchor tags within the list items */
        a {
            padding: 0px;
        }
    }
}