
/* Color variables */
/* Mixin for theme styling, used on hover */
/* Basic global styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

body {
  background: linear-gradient(180deg, #4DCCBD, #231651, #070410);
  /* Apply font styles to h1 and button elements */
  /* Apply font styles to paragraph elements */
}
body h1,
body button {
  font-family: "Teko", sans-serif;
}
body p {
  font-family: "Lato", serif;
}

/* Navigation bar styling */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 0px 16px;
  margin-bottom: 48px;
  box-shadow: 10px 0px 20px #070410;
  background-color: #070410;
  width: 100%;
  /* Style for the h1 element within the navigation bar */
  /* Hover state for the h1 element within the navigation bar */
  /* Style for the unordered list within the navigation bar */
  /* Style for the list items within the unordered list */
  /* Style for the anchor tags within the list items */
  /* Hover state for the anchor tags within the list items */
}
.nav h1 {
  font-size: 3em;
  margin: auto 0px;
  color: #FFFFFF;
  cursor: pointer;
  text-shadow: 4px 2px 2px #4DCCBD;
  transition: all 0.2s ease-in-out;
}
.nav h1:hover {
  color: #EEF36A;
  text-shadow: 2px 2px 10px #4DCCBD;
}
.nav ul {
  display: flex;
  justify-content: center;
}
.nav ul li {
  list-style: none;
  margin: auto 16px;
  font-family: "Lato", serif;
  font-size: 1em;
}
.nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  text-shadow: 2px 2px 10px #4DCCBD;
}
.nav ul li a:hover {
  color: #EEF36A;
}

/* Styling for the search button */
.search {
  font-size: 3em;
  border: 2px solid #EEF36A;
  color: #FFF;
  background-color: #231651;
  cursor: pointer;
  padding: 0 16px;
  margin: 16px 0;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 10px #231651;
}

/* Hover state for the search button */
.search:hover {
  background: linear-gradient(180deg, #4DCCBD, #070410);
  border: 2px solid #EEF36A;
  box-shadow: 2px 2px 10px #FFFFFF;
  color: #EEF36A;
}

/* Grid container styling */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 48px;
  width: 100%;
}

/* Movie container styling */
.moviecontainer {
  border: 2px solid #4DCCBD;
  box-shadow: 0px 0px 50px #4DCCBD;
  box-shadow: 10px 10px 10px #4DCCBD;
  background-color: #070410;
  /* Style for the h1 element within the movie container */
  /* Style for the paragraph element within the movie container */
  /* Style for the img element within the movie container */
}
.moviecontainer h1 {
  font-size: 3em;
  color: #EEF36A;
  text-shadow: 4px 2px 4px #4DCCBD;
}
.moviecontainer p {
  font-size: 1.5em;
  margin-bottom: 16px;
  color: #FFF;
  text-shadow: 2px 2px 5px white;
}
.moviecontainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Container content styling */
.containercontent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Styling for the watch now button */
.watchnow {
  font-size: 2em;
  padding: 16px;
  border-radius: 16px;
  background-color: #231651;
  color: #FFF;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 2px solid #EEF36A;
}

/* Hover state for the watch now button */
.watchnow:hover {
  background: linear-gradient(180deg, #4DCCBD, #070410);
  border: 2px solid #EEF36A;
  box-shadow: 2px 2px 10px #FFFFFF;
  color: #EEF36A;
}

/* Specific styles for the first movie container */
.moviecontainer:nth-child(1) {
  grid-column: span 2/span 2;
  /* Style for the img element within the first movie container */
  /* Container content styling for the first movie container */
  /* Button styling for the first movie container */
  /* Additional styling for the watch button within the first movie container */
}
.moviecontainer:nth-child(1) img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.moviecontainer:nth-child(1) .containercontent {
  display: flex;
  flex-direction: row;
}
.moviecontainer:nth-child(1) .containercontent button {
  width: 90%;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.moviecontainer:nth-child(1) .watch {
  margin-bottom: -16px;
}

/* Specific styles for the second movie container */
.moviecontainer:nth-child(2) {
  grid-column: span 1;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* Specific styles for the third movie container */
.moviecontainer:nth-child(3) {
  grid-column: span 1;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* Specific styles for the fourth movie container */
.moviecontainer:nth-child(4) {
  grid-column: span 2/span 2;
  grid-row-start: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Specific styles for the fifth movie container */
.moviecontainer:nth-child(5) {
  grid-column: span 2/span 2;
  grid-row-start: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Specific styles for the sixth movie container */
.moviecontainer:nth-child(6) {
  grid-column: span 2/span 2;
  grid-row-start: 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Media query for screen widths 1024px and below */
@media screen and (width <= 1024px) {
  /* Adjustments for the navigation bar */
  .nav {
    margin-bottom: 36px;
  }
  /* Adjustments for the grid container */
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    margin-bottom: 36px;
  }
  /* Adjustments for the first movie container */
  .moviecontainer:nth-child(1) {
    grid-column: span 1;
    grid-template-rows: auto 1fr;
    /* Adjustments for the img element within the first movie container */
    /* Adjustments for the container content within the first movie container */
    /* Adjustments for the button within the first movie container */
    /* Adjustments for the watch button within the first movie container */
  }
  .moviecontainer:nth-child(1) img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .moviecontainer:nth-child(1) .containercontent {
    display: grid;
  }
  .moviecontainer:nth-child(1) .containercontent button {
    font-size: 2em;
    display: block;
    width: 100%;
  }
  .moviecontainer:nth-child(1) .watch {
    margin-bottom: 0px;
  }
  /* Adjustments for the second movie container */
  .moviecontainer:nth-child(2) {
    grid-column: span 1;
    grid-template-rows: auto 1fr;
  }
  /* Adjustments for the third movie container */
  .moviecontainer:nth-child(3) {
    grid-column: span 1;
    grid-template-rows: auto 1fr;
  }
  /* Adjustments for the fourth movie container */
  .moviecontainer:nth-child(4) {
    grid-column: span 1;
    grid-row-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .moviecontainer:nth-child(5) {
    grid-column: span 1;
    grid-row-start: 3;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  /* Adjustments for the sixth movie container */
  .moviecontainer:nth-child(6) {
    grid-column: span 1;
    grid-row-start: 3;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  /* Media query for screen widths 720px and below */
}
@media screen and (width <= 1024px) and (width <= 720px) {
  /* Adjustments for the navigation bar */
  .nav {
    margin-bottom: 16px;
  }
  /* Adjustments for the h1 element within the navigation bar */
  .nav h1 {
    font-size: 2em;
  }
  /* Hide the list items within the navigation bar */
  .nav ul li {
    display: none;
  }
  /* Adjustments for the search button */
  .search {
    font-size: 2em;
  }
  /* Adjustments for the grid container */
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    margin: auto auto;
    margin-bottom: 16px;
  }
  /* Adjustments for the movie container */
  .moviecontainer {
    border: 2px solid #4DCCBD;
    box-shadow: none;
    /* Adjustments for the h1 element within the movie container */
    /* Adjustments for the paragraph element within the movie container */
  }
  .moviecontainer h1 {
    font-size: 2em;
  }
  .moviecontainer p {
    font-size: 1.5em;
    margin-bottom: 16px;
  }
  /* Adjustments for the second movie container */
  .moviecontainer:nth-child(2) {
    grid-row-start: 2;
  }
  /* Adjustments for the third movie container */
  .moviecontainer:nth-child(3) {
    grid-row-start: 3;
  }
  /* Adjustments for the fourth movie container */
  .moviecontainer:nth-child(4) {
    grid-row-start: 4;
  }
  /* Adjustments for the fifth movie container */
  .moviecontainer:nth-child(5) {
    grid-row-start: 5;
  }
  /* Adjustments for the sixth movie container */
  .moviecontainer:nth-child(6) {
    grid-row-start: 6;
  }
}/*# sourceMappingURL=sass.css.map */